<body>
  <div class="container-fluid">
    <details>
      <summary><kbd>Wave Particle Duality</kbd></summary>
      <p>
        You may have heard that light can act like a particle and like a wave.
        It can bounce off a mirror like a particle, and it can bend and spread
        out like a wave. For Instance, when it passes through a prism. With
        Careful Experiments we can see how light waves can interfere with each
        other.But did you know that particles can act as waves,too?
      </p>
      <p>
        This is one of the central ideas in quantum mechanics. Everything has a
        wave nature. Light,particles, and even, in an unobservable way,
        macroscopic objects like baseballs and people. One way to see the wave
        nature of light, is through diffraction. The way that light bends around
        the sharp edges of objects or creates patterns when passing through
        narrow gaps.
      </p>
      <div class="row">
        <div class="col-sm-5">
          <img
            src="../assets/dse1.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-5">
          <img
            src="../assets/dse2.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        In the double-slit experiment,laser light passes through two slits in a
        wall and spreads out like a wave as it passes through.The waves coming
        from each slit interfere with each other, creating a pattern of light
        and dark spots on a wall on the other side. This happens because when
        two crests or two troughs of a wave meet, they add together. But when a
        crests and a trough meet,they cancel out.
      </p>
      <div class="row">
        <div class="col-sm-5">
          <img
            src="../assets/dse3.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-5">
          <img
            src="../assets/dse4.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        But what if instead of laser light,you throw particles at the wall? If
        you have a powerful electron beam, you can see that instead of two spots
        directly behind the slits, or randomly distributed spots, an
        interference pattern will appear. Just like with the light. The
        electrons are behaving like waves and interfering with each other. Even
        weirder, you can slow the experiment down and send one electron at a
        time. Each electron will pass through and hit the wall at a single
        point. But over time, you'll see that the same interference pattern
        appears, even though no other electrons were passing through at the time
        to create interference. Apparently, each electron is actually
        interfering with itself.
      </p>
      <p>
        This is the crux of <b>Wave Particle Duality</b>. Even something we
        think of as an individual objects,like an electron, has an essential
        wavelike nature, and acts as a wave when it's moving through space. The
        particle nature only appears when it's observed or measured. On the
        quantum scale though, for very small particles, that essential waviness
        fundamentally changes how particles interact with each other and it
        means we have to develop new ways to think about and work with the
        subatomic world. And in some cases, particles acting like waves can
        change the face of the cosmos itself.
      </p>
      <p>
        <b>Wave Particle Duality</b> applies to everything. If you like, you can
        even calculate the wavelength of a fastball, but it'll be much smaller
        than a proton. Not nearly enough to blame for a strikeout.
      </p>
    </details>
    <br />

    <details>
      <summary><kbd>Quantization</kbd></summary>
      <img
        src="../assets/quant1.png"
        class="rounded"
        height="300"
        width="500"
      />
      <p>
        How is an atom like a flight of stairs? When you picture an atom, you
        may have something like this in mind. There's the nucleus in the center
        and the electrons orbiting around it, like planets orbiting the sun in
        different levels. There are a few ways that this image is, let's say,
        not entirely accurate, but it does illustrate something essential to
        quantum mechanics. The fact that it's, well, quantum.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/quant2.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/quant3.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/quant4.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        Let's talk about what quantum really means. Before quantum mechanics,
        physicists thought electrons really did orbit the nucleus of an atom
        like planets. If you gave an electron a little more energy, it would
        change its orbit. And if you gave it too much, it would leave the atom
        entirely. But while it's true that some electrons are closer into the
        nucleus and some are farther out, each one has a specific energy, and
        there's only a limited set of distinct energy levels that are allowed.
      </p>
      <p>
        It's kind of like going up or down a set of stairs. If you give yourself
        just the right amount of energy, you can go up one step. With a
        different amount, you can go up two. A big enough leap will send you off
        the staircase altogether. But something in between doesn't work. You
        can't go up half a step or a third of a step. The energy you need to put
        in is quantized, meaning it comes in discrete packets or steps. The word
        quantum just means a fixed amount of something. A snowflake is a quantum
        of snow. A person is a quantum of humanity. A stair is a quantum of
        stairs. Some of the most important breakthroughs in physics came about
        due to the discovery that energy, along with momentum, spin, and as you
        might expect, particles, is quantized.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/quant5.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/quant6.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/quant7.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        Because energy levels of atoms are quantized, moving an electron up or
        down can only happen when the packet of energy is just the right size. A
        photon which is a quantum of light, or, more generally, electromagnetic
        energy can move an electron up to a higher energy level only if it has
        just the right energy. Each kind of atom or molecule has a different set
        of energy levels, like a staircase with steps of different sizes. We can
        see this most clearly when we look at the spectrum of a beam of light
        passing through a gas. Light that passes through hydrogen gas will be
        absorbed by the hydrogen atoms, but only at very specific wavelengths or
        colours. Those are the wavelengths at which the energy of the light
        exactly matches a transition between two energy levels of hydrogen.
        Because the light at those specific wavelengths is absorbed, when we
        spread the light out in a prism, we see that there are gaps, dark lines
        at just those colors. This is how astronomers first figured out that the
        sun is mostly hydrogen, and it's how we can detect which elements are in
        the atmospheres of other stars and planets.
      </p>
      <div class="row">
        <div class="col-sm-5">
          <img
            src="../assets/quant8.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-5">
          <img
            src="../assets/quant9.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        We know from experiments that quantization happens at subatomic scales.
        But for many years, physicists have been grappling with the possibility
        that everything, ultimately, is quantum: including gravity and spacetime
        itself. Maybe the force that holds us on the staircase comes in tiny
        quantum packets called gravitons. And maybe the space we exist in is
        quantized too, in tiny spacetime pixels. If physicists can find a way to
        quantize gravity, they would have the ultimate prize in theoretical
        physics. A theory of everything.
      </p>
    </details>
    <br />

    <details>
      <summary><kbd>Uncertainity in Quantum Mechanics</kbd></summary>
      <p>
        Before quantum mechanics, the laws of physics were thought to be
        completely deterministic. If you hit a billiard ball, precise
        measurements of the direction of the force, the shape of the ball, the
        friction of the surface and the air currents in the room should be able
        to tell you exactly where the ball will be at any specific time in the
        future. This calculation might be difficult or even completely
        impractical, but in principle, with precise measurements and Newton's
        laws of motion, the future ought to be completely predictable. When
        quantum mechanics came along, everything changed.
      </p>
      <p>
        <b>Uncertainty</b> is an essential property of the quantum world. One
        that makes quantum mechanics fundamentally different from what we call
        classical physics. In a game of quantum billiards, we can still make
        predictions about the future, but those predictions are always going to
        have some uncertainty built in, even if we start with perfect, complete
        data. This quantum fuzziness is encapsulated in Heisenberg's
        <b>Uncertainty</b> Principle. It says that more precisely you measure a
        particle's position, the less precisely, you know its momentum and vice
        versa. A particle's momentum is its mass times, its speed. Essentially,
        if you know where something is, you can't know perfectly how fast it's
        moving. One way to thing about the <b>Uncertainty</b> Principle is as a
        measurement problem. If you're trying to measure anything about a
        particle, its position, speed, etc., you have to see it first. If the
        particle isn't emitting its own light, you do that by bouncing light off
        it. No matter how careful you are, that tiny bit of light gives the
        particle a tiny bit of energy and thus changes its momentum. You can try
        other methods of measurement, but there's no way to measure the
        properties of a particle without interacting with the particle which
        changes the properties of the particle. A more Precise way to think
        about uncertainty, though, is as a consequence of the fact that the
        particle you're trying to measure is acting like a wave. A wave is, by
        its nature, not something that can exist at a single point.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/un1.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/un2.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/un3.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        The simplest kind of wave, like a sine wave, is not localized at all. It
        stretches out infinitely in each direction. It has a well-defined
        frequency, which for a wave, is related to its momentum, but has no
        specific position. if you want the wave to have a wave position, it
        needs to be a wave packet, a localized disturbance moving through space
        like an ocean wave, or for the case of sound waves, a sharp noise.
        Through combining waves a lots of different frequencies that add
        together in some places and cancel out in others, it's possible to
        create the wave packet that only exists in a small region. And you can
        make that region smaller by adding more and more waves of different
        frequencies. The more you try to squeeze the position to a single point,
        the more the momentum spreads out because you're adding more
        frequencies. The more you narrow in on the position, the more you spread
        out the momentum and vice versa.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/un4.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/un5.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/un6.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        The <b>Uncertainty</b> Principle isn't saying that we're always
        uncertain about everything. It's just saying that we can't be
        particularly certain about more that one thing at a time. It's pretty
        rare for the <b>Uncertainty</b> Principle to have a practical effect on
        your life. Unless you're doing something like carrying out high
        precision measurements with lasers. But the philosophical implications
        are huge. It means that there's a fundamental limit to how well we can
        understand the universe and how well we can predict the future.
      </p>
      <p>
        A world governed by quantum mechanics is not deterministic. No matter
        how carefully we do our measurements. At some point we're going to throw
        up our hands and say, we don't know where the billiard balls will go.
        Einstein famously hated this idea and hoped to find some way around it.
        He was quoted as saying, God does not play dice with the universe. He
        meant that despite appearances, there cannot be fundamental uncertainty
        built into the laws of physics. But 100 years later, Heisenberg's
        <b>Uncertainty</b>
        Principle is still here. So, Are you feeling lucky?
      </p>
    </details>
    <br />

    <details>
      <summary><kbd>Superposition</kbd></summary>
      <p>
        If you've heard anything about quantum mechanics, you've probably heard
        of Schrödinger's cat. It's a famous thought experiment (*not a real
        experiment*) in which a cat is said to be both alive and dead at the
        same time. It's in a quantum superposition. But what does that really
        mean? What is a
        <b>Quantum Superposition</b>? Does this bizarre thought experiment
        relate to the real world at all? Well,yes and no.
      </p>
      <p>
        The idea behind Schrodinger's cat relates to a very real phenomenon, the
        fact that in the quantum world, sometimes a particles appears to be
        doing two contradictory things at the same time. Take the double slit
        experiment. In that experiment, an electron appears to pass through two
        slits in the screen at the same time. We can explain this by describing
        the electron as a wave, but we could also say the electron was in a
        superposition of all the possible paths. Add up all those paths and you
        get something that looks like a wave. In a sense, superpositions are
        just a way of talking about quantum uncertainty. In quantum mechanics,
        we can't know any property of a particle with 100% certainty. Not
        because our measurements aren't good enough, but because quantum
        mechanics simply doesn't allow it. So if we can't say if the particle is
        here or there then for all practical purposes, it's in both places at
        the same time and many others. It has to do with the connection between
        an experiment and an observation.
      </p>
      <p>
        When an electron is moving through space, acting like a wave with no
        specific location, we can say it's in a superposition. But when we
        actually observe it splashing against the wall, we only see that spot in
        one spot. Making the observation appears to have destroyed the
        superposition. The electron had to choose one spot to interact with the
        wall in. Everytime we observe a particle, we're ruining a perfectly good
        superposition. When this effect was first discovered, physicists argued
        about the implications. What does it mean to observe an experiment? Does
        the observer have to be consciously aware of the observation? Are we as
        conscious beings, creating reality as we go? The prevailing
        interpretation at the time was that any isolated quantum system is
        always in superposition up until the moment it interacts with the world
        outside. You could do an experiment inside a sealed box. As long as the
        experiment involves quantum uncertainty, the result is in a
        superposition until the box is opened and observed, no matter what else
        is in the box. In discussing the situation with his buddy Einstein,
        Erwin Schrodinger came up with the example of the experiment of the cat
        to illustrate the absurdity of this idea. We've edited the details of
        the experiment here to make it feline friendly, but you'll get the gist.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/sp1.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/sp2.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/sp3.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        What if Schrodinger said approximately, you put a happy, healthy, sleepy
        cat into a box with a radioactive atom that has some probability of
        decaying between now and the end of the experiment. A single atom won't
        harm the cat, but if it decays, it triggers a geiger counter that is
        attached to an alarm clock which rudely awakens the cat. Now, before you
        open the box, you don't know the state of the atom. As far as you're
        concerned it's in a superposition of intact and decayed, which means the
        geiger counter is both triggered and not, which means the alarm clock is
        both gone off and not, and the cat is both sleeping and awake. Now you
        open the box at your peril. A sleeping cat won't even notice, but in
        awaked, cat will not be happy to see you after you pulled that stunt
        with the alarm.
      </p>
      <div class="row">
        <div class="col-sm-5">
          <img
            src="../assets/sp4.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-5">
          <img
            src="../assets/sp5.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        According to the thought experiment, though, opening the box is the only
        thing that settles the cat into one state or the other. The cat is both
        happily sleeping and angrily awake. Both Einstein and Schrodinger
        considered this to be nonsense. Surely the cat itself is an observer for
        the purpose of forcing the particle into a single state, as is, for that
        matter, the geiger counter and the alarm clock. But exactly how quantum
        states transition from superposition to something more definite is still
        an open question, as is why particles can be superpositions. But large
        objects like people can't.
      </p>
      <p>
        <b>Quantum Superposition</b> doesn't pose any actual danger to cats or
        to the human beings, we love them. In fact, we can use superposition to
        our advantage in our technology. In quantum computing, superposition is
        how a qubit, a quantum bit, can be both one and zero at the same time.
        And that presents the whole new world of extremely powerful
        computational techniques. Quantum computers aren't on all our desktops
        yet, but when yours finally arrives, you might want to be careful
        opening up that box.
      </p>
    </details>
    <br />

    <details>
      <summary><kbd>Quantum Entanglement</kbd></summary>
      <p>
        <b>Quantum Entanglement</b> is one of the most intriguing and perplexing
        phenomena in quantum physics. It allows physicists to create connections
        between particles that seem to violate our understanding of space and
        time. But what is entanglement, really?
      </p>
      <p>
        Two similar coins are not entangled. If you flip one coin, it won't have
        any effect on the other. Each coin when flipped will have a 50% chance
        of landing heads or tails. And that's true no matter what you see when
        you look at the other. But what if we could do some magic trick to
        entangle those coins? If one comes up, heads, the other will come up
        tails. No matter how far apart they are.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/ent1.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/ent2.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/ent3.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        Let's say i give a coin to Alice and one to Bob just before they set off
        on rocket ships going in opposite directions. Alice and Bob are under
        strict instructions not to flip their coins until they've been traveling
        for ten years. When the time is up they each flip their coin and
        immediately send radio signals to each other with the answers. But while
        those signals might take years to reach their destinations, the
        entanglement means that the moment Alice sees heads, she knows that
        Bob's coin landed tails and vice versa. Alice doesn't have to wait for
        Bob's radio signal to arrive to know what it will say. Alice's coin had
        a 50/50 chance of coming up heads. But once it does, Bob's coin is tails
        100% of the time. Because Bob's signal is still traveling to her when
        she finds out the answer, It's as if Alice has predicted the future.
        This might sound impossible but it's exactly what quantum entanglement
        does to individual particles in experiments. Let's you carefully prepare
        two particles in a lab to make them entangled. One way to set this up is
        to ensure that they will have opposite spins, meaning the lineup
        opposite to each other in a magnetic field. Then, you seperate the
        particles by thousands of miles and measure the spin of one of them. If
        you find that it's spin points up, the other's will always point down.
        Like in the coin example, whenever Alice measures the spin of her
        particle, if it has spin up, she'll instantly know that Bob's particle
        has spin down or vice versa. No matter how far away they are.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/ent4.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/ent5.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/ent6.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        Einstein called this spooky action at a distance. Because according to
        his theory of relativity, no information can travel faster than the
        speed of light. You shouldn't be able to know anything about the other
        particle before a light beam with the information can reach you.
        Entanglement seems to throw this idea out the spaceship airlock. To be
        clear, however often it's described that way in science fiction, this is
        not faster than light communication. Just like with the coin flip, the
        state of the entangled particle in your possession is random. You can't
        know ahead of time if it's spin up or spin down. All you know is that
        when you measure it, the other particle will be the opposite. Even if
        Alice and Bob tried to agree ahead of time on some kind of code to use
        for a message, they wouldn't get to decide what message they were going
        to send. It would just be random gibberish. While we can't use quantum
        entanglement to communicate instantaneously. We can use it in
        technologies such as quantum cryptography and quantum computing. But how
        does it work? How do the particles know what to do? Are they passing
        messages that we can't see? And why can we entangle particles but not
        coins?
      </p>
      <p>
        <b>Quantum Entanglement</b> is certainly strange and we still don't
        completely understand it. But it is a feature of nature and it's an
        incredible tool that we can use. The results of these experiments have
        applications in new technologies that will forever change our world. It
        isn't magic, but it might just be a little bit spooky.
      </p>
    </details>
    <br />

    <details>
      <summary><kbd>Quantum Probability</kbd></summary>
      <p>
        When Albert Einstein famously said "God does not play dice with the
        universe" he wasn't objecting to the idea that randomness exists in our
        everyday lives. If you role a die, there's an equal chance of it showing
        up one, two, three, four, five or six. Even though we could, in
        principle, measure everything carefully enough to completely determine
        its motion, effectively, in practical terms, it's a random event. What
        Einstein was objecting to is not this kind of randomness arising from
        complexity or chaos. What he didn't like was the idea that randomness is
        so essential to the laws of physics, so built into their structure, that
        even with the most precise measurements and carefully controlled
        experiments there would always be some level at which the outcome is
        effectively an educated guess. Let's play some dice with the universe
        and talk about why.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/qp1.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        If I have a regular die, it obeys the laws of classical mechanics. I can
        hold the die, throw it and watch it tumble and land on one side.
        Everything the die does is determined by the throw, the environment and
        the surface it lands on. But what if we had a die that obeyed the rules
        of quantum mechanics? Uncertainty would be built in. We have a starting
        point, the die in my hand and an outcome, the die on the table showing a
        result. After we throw the die but before we observe the outcome, the
        quantum die is in a superposition of all the possible results. A kind of
        ghostly combination of all six options. Just like with the famous
        Schrödinger's cat experiment, it's not until we look at the die that we
        know which of those results will become real. It may seem extravagant to
        suggest a superposition instead of just not knowing what's happening.
        But when scientists do experiments with particles, they find that the
        way they act between the starting point and the final result doesn't
        make sense if the result is predetermined. Our experiments tell us that
        a particle moving through space acts as though it's spread out across
        every possible path, only settling on one when it's finally observed.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/qp2.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        Physicists use a mathematical tool called a wave function to keep track
        of a particle when it's not being actively measured. The wave function
        is just a set of numbers assigned to each possibility for the particle,
        its location, its speed, its spin, and so on. Those numbers determine
        the probability of each specific outcome when you actually make the
        observation. How does a particle go from being a wave function, a
        superposition of existing everywhere at once to being observed in just
        one spot? That's a really good question that physicists have debated for
        over a century. Does the wave function collapse at one spot? Is there
        some hidden information that tells it how? Or maybe the particle is
        actually in all those different places. In this scenario called the many
        worlds interpretation, different versions of our universe branch off
        every time a quantum event happens and the measurement is just our way
        of figuring out which universe we're in.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/qp3.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/qp4.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/qp5.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        In the case of the quantum die, the wave function tells us that the
        probability for each result is one in six. And when we do the
        measurement, there's a one in six chance that the wave function will
        collapse with three showing on the die. Now, if we roll two quantum
        dies, each die is still in a superposition of every possible state until
        we measure it. But the mix contains more states in which the dice roll
        comes up seven than any other number. So there's a higher probability on
        the number seven than six or five or four. While you'd expect the same
        distribution on average with classical dice, in the quantum case, it's
        because all of those results are actually happening until you look. When
        particle physicists do experiments, they have to account for every
        possible outcome and the weight each one has in the wave function in
        order to predict the result. It's impossible to make a prediction with
        absolute certainty. But if we do an experiment many times, like rolling
        dice over and over, we can say with incredible precision what the
        distribution of results will look like.
      </p>
      <p>
        At some level, everything is quantum big and small, and everything we
        observe is determined by probabilities. While we can't say whether those
        probabilities arise from the sudden collapse of a wave function or the
        continuous branching off of new universes, we do know how to calculate
        them. Quantum mechanics says we do have to play dice, but at least we
        know the odds. And thanks to superposition at the quantum level,
        everyone's a winner.
      </p>
    </details>
    <br />

    <details>
      <summary><kbd>Quantum Computing</kbd></summary>
      <div class="row">
        <div class="col-sm-5">
          <img
            src="../assets/qc1.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-5">
          <img
            src="../assets/qc2.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        Right now, you are Reading this on some kind of computer. It might be
        your laptop or phone or tablet or even in the metaverse. Everything you
        see and hear in this Website is the result of computers sharing vast
        amounts of information in the form of ones and zeros. Even the world's
        most powerful supercomputers are built on this binary system of bits. By
        rapidly switching these tiny on off switches between one and zero, a
        computer can perform trillions of operations every second and can encode
        data, graphics and sound. It's amazing what computers can do just by
        flipping bits back and forth from one state to the other. But what if
        that's not enough? What if we take computers and make them quantum?
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/qc3.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/qc4.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/qc5.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        Up until now, we've made computers faster by giving them more memory and
        more processors. It's like filling a giant warehouse with more and more
        workers, each of whom can only do one task at a time. At some point,
        you're limited by the size of the room and by the need to coordinate
        among the workers. Quantum Computing is like tearing down the warehouse
        and building a new one.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/qc6.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/qc7.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/qc8.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        In the new Quantum warehouse, each worker is a multitasker capable of
        not just flipping bits on or off, but holding them in carefully
        suspended, indeterminate states while coordinating instantaneously with
        one another. The basic ingredient of a quantum computer is a quantum bit
        or qubit. Instead of a tiny switch between one and zero, a qubit makes
        use of the weird loophole of quantum superposition to be both a one and
        a zero at the same time. Qubits can also be entangled with one another
        so that they can work in concert, even while still being in an
        indeterminate state. What this means in practical terms is that instead
        of doing each calculation with each bit one at a time, a quantum
        computer can do exponentially more calculations all at the same time.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/qc9.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/qc10.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/qc11.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        Imagine that someone goes into an enormous library and hides a secret
        message on a scrap of paper in just one book. If you wanted to find it
        the way a classical computer would, you’d check each book by hand, then
        register a yes or no until you found it. Using a quantum computer is
        like opening every book simultaneously and finding the secret message
        right away.
      </p>
      <img src="../assets/qc12.png" class="rounded" height="300" width="500" />
      <p>
        Scientists around the world are chomping at the qubit to use quantum
        computers to solve problems in medicine, biology, engineering,
        mathematics and of course, theoretical physics. But computing with
        qubits is not easy. The carefully prepared quantum states are incredibly
        fragile. Any interaction with the outside world and the superposition
        collapses, ruining the whole Quantum Party. Creating programs to run
        with qubits and wrangling them to actually do the computation requires
        extreme precision and a deep understanding of the quantum world. The
        power that quantum computers can wield has the potential to change the
        world in complicated ways. One of them is through its effect on
        cryptography, the methods we use to keep private information secure. In
        many cases, we secure information with a kind of key that can, in
        principle, be computed using public information. Up until now, we've
        relied on the fact that actually performing that calculation would take
        too long. On a conventional computer, we're talking trillions of years,
        much longer than the current age of the universe. But some estimates
        suggest that if we could build a perfectly stable quantum computer with
        enough qubits right now, it might be possible to perform the same
        calculation in hours or even seconds. So is all data security lost? Not
        quite. Some of the same quantum principles that make quantum computers
        so powerful offer new opportunities for cryptography. Since simply
        observing a quantum state changes it, quantum cryptography can make
        eavesdropping physically impossible. If someone intercepts your quantum
        encoded decryption key en route, their observation of it disturbs the
        system out of its delicate preparation, and the recipient can
        immediately tell it's been compromised.
      </p>
      <p>
        <b>Quantum Computing</b> will certainly change the world in many ways
        and will present challenges we haven't even begun to imagine. Will this
        computing revolution be good for humanity or bring us a host of new
        unforeseen problems? If you ask me, both.
      </p>
    </details>
    <br />

    <details>
      <summary><kbd>Photoelectric Effect</kbd></summary>
      <p>
        Digital cameras, small enough to be embedded in our phones, have
        transformed photography and changed how we interact with the world and
        each other. But did you know that this sophisticated piece of modern
        technology has its roots in the science that won Einstein a Nobel Prize?
      </p>
      <p>
        Like most smartphones today, my iPhone camera uses a sensor called a
        complementary metal oxide semiconductor or CMOS. It's similar to a CCD
        or charge coupled device and works because of this one weird trick
        physicist discovered more than a century ago. It's called the Photo
        Electric Effect. In Einstein's time, light was thought of as a wave. It
        clearly has wavelike properties, diffraction, interference and so on.
        But every once in a while it seemed to behave in a very un-wave-like
        fashion.
      </p>
      <div class="row">
        <div class="col-sm-5">
          <img
            src="../assets/pe1.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-5">
          <img
            src="../assets/pe2.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        some experimenters found that if you shine a light on a metal surface in
        just the right way instead of illuminating or warming it, a bit of the
        light would hit like a tiny cannonball, knocking an electron right out
        of the metal. This effect was first demonstrated in the 1800s, but at
        the time, no one could explain why this happened. If light were just a
        wave of energy, shining a light on the surface should either do nothing
        or it should gradually transfer enough energy to push the electron
        around. Higher intensity light should, of course, dislodge more
        electrons. But the experiments with the light on the metal showed that
        it didn't matter how long the light was shining or even how intense it
        was. All that mattered was its colour.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/pe3.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/pe4.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/pe5.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        A light with a a low frequency, like infrared or visible light would do
        nothing. But if you gradually increase the frequency of the light into
        the ultraviolet at some threshold colour, suddenly electrons would start
        pinging off the metal like they were shot with tiny light pellets.
        That's not how a wave is supposed to work. Einsteins Nobel Prize came
        from explaining what's really happening here. Light isn't really a wave
        at all. Or rather, it's not just a wave. It's really made up of tiny
        particles called photons. Each photon is a little packet of energy, and
        the amount of energy in each photon is determined by the light's
        frequency or color. A photon of visible light has too little energy to
        knock an electron out of the metal. Even if you shine a lot of visible
        light photons on the metal, each photon will just shift an electron to a
        higher energy level, after which it will fall back down. Because the
        energy levels of electrons only exist in discrete steps, you need a
        photon of just the right energy to remove the electron completely. And
        for that, you need to dial up the light's frequency into the ultraviolet
        so each photon can pack enough of a punch. This, incidently, is why
        sitting too long in direct sunlight can burn your skin, but spending all
        day under a desk lamp at home can't. The sunlight has UV photons in it,
        and each U.V. photon has so much energy that it can deliver its punch
        right into your skin cells and damage them. Visible light mostly just
        bounces off. It's also why you don't want to spend time around gamma
        rays, the highest energy part of the electromagnetic spectrum. So, what
        does all this have to do with your cell phone camera? Both CCDs and CMOS
        sensors make use of the photoelectric effect to convert the light that
        hits the sensor into electricity for a pixel.
      </p>
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/pe6.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/pe7.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/pe8.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-4">
          <img
            src="../assets/pe9.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/p10.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-4">
          <img
            src="../assets/pe11.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        They use materials called semiconductors, in which even low frequency
        photons can boost the electrons. So all the light that hits the sensor
        can create an electrical current. Filters, lenses and materials
        optimized for different light frequencies work together to record the
        color of the light. Once the image is recorded by the sensors, the
        signals can be re-encoded into an image for your screen.
      </p>
      <div class="row">
        <div class="col-sm-5">
          <img
            src="../assets/pe12.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
        <div class="col-sm-5">
          <img
            src="../assets/pe13.png"
            class="rounded"
            height="300"
            width="500"
          />
        </div>
      </div>
      <p>
        CCD Technology is so amazing that in 2009, it actually produced its own
        Nobel Prize for the inventors of the first CCD sensor. These days, CCD
        and CMOS sensors are everywhere in digital imaging, including in giant
        telescopes like Hubble and JWST. Quantum mechanics, once an esoteric
        math filled flight of fancy, now plays a role everywhere we look. In the
        behavior of the tiniest particles and how we see the night sky and even
        in how we see ourselves. Maybe someday, the obscure theories we
        physicists of today spend all our time scratching out on chalkboards
        will produce a breakthrough in our understanding of how light and
        particles work. Maybe it will change the way we see the world around us.
        Maybe we'll even carry it around with us in our pockets. Picture that.
      </p>
    </details>
    <br />

<details>
  <summary><kbd>Quantum Tunneling</kbd></summary>
  <p>
    The fastest baseball pitch ever thrown reached over 170 kilometers an hour.
    That's impressive. But even that record breaking fastball would never be
    able to pass through a solid brick wall. It's just not possible. That is,
    unless we're playing quantum baseball.
  </p>
  <div class="row">
    <div class="col-sm-5">
      <img
        src="../assets/qt1.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
    <div class="col-sm-5">
      <img
        src="../assets/qt2.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
  </div>
  <p>
    With a baseball, there are only two ways to get to the other side of a wall.
    One is to go around. The other is to burst right through. A thrown baseball
    might have enough energy to rip through a piece of paper, But even the
    fastest pitch would just bounce off a brick wall. But sometimes quantum
    particles are caught passing through barriers they don't seem to have enough
    energy to break through. Logically, they should just bounce off. And yet
    there they are, sitting quite happily on the other side. How can that be
    possible? We call this quantum tunneling, and it only works because
    particles can act like waves. Remember Heisenberg's Uncertainty Principle?
    If we know a particle's energy or momentum, then we can't be certain about
    its position. There's a small probability, maybe one in a trillion, that the
    particle’s position could be on the other side of a barrier. When we thought
    it was over here. It didn't have to punch through, it took advantage of the
    uncertainty built into quantum mechanics to boldly assert that it was on the
    other side all along. You might be asking yourself, what relevance could
    this rare, obscure quantum phenomenon have in real life? It turns out that
    without quantum tunneling, none of us would even exist.
  </p>
  <div class="row">
    <div class="col-sm-4">
      <img
        src="../assets/qt3.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
    <div class="col-sm-4">
      <img
        src="../assets/qt4.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
    <div class="col-sm-4">
      <img
        src="../assets/qt5.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
  </div><br/>
  <div class="row">
    <div class="col-sm-4">
      <img
        src="../assets/qt6.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
    <div class="col-sm-4">
      <img
        src="../assets/qt7.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
    <div class="col-sm-4">
      <img
        src="../assets/qt8.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
  </div>
  <p>
    Consider the sun. The sun shines because of nuclear fusion. Hydrogen atoms
    are fuzed together into helium atoms releasing energy as light. One step in
    this process requires two protons to be pushed together, close enough to
    form a nuclear bond. But protons are positively charged. They repel each
    other like magnets. Early calculations proved that overcoming that repulsion
    shouldn't be possible, even in the hot, dense core of a star. But it happens
    anyway because of quantum tunneling. It's still rare. It happens in less
    than one in a trillion encounters. But in those cases, the strong nuclear
    force can take over and allow those protons to bind. Without quantum
    tunneling, the sun wouldn't be able to shine at all.We also encounter
    quantum tunneling much closer to home in our technology. It's a key aspect
    of how flash memory works, for example. It also has its downsides. If we
    make a microchip too small, the tendency of electrons to tunnel will mean
    they wander all over the chip, even if we'd rather they stay on one side.
  </p>
  <div class="row">
    <div class="col-sm-4">
      <img
        src="../assets/qt9.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
    <div class="col-sm-4">
      <img
        src="../assets/qt10.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
    <div class="col-sm-4">
      <img
        src="../assets/qt11.png"
        class="rounded"
        height="300"
        width="500"
      />
    </div>
  </div>
  <p>
    One of the coolest applications of quantum tunneling is the Scanning
    Tunneling Microscope, which allows us to see individual atoms. It works by
    applying a voltage to a scanner and to the sample it's examining, and
    passing the scanner’s metal tip very close to the sample, but not quite
    touching it. Under classical non-quantum rules, electrons can't pass through
    the gap, but because of quantum tunneling, some electrons sneak through
    completing the circuit. Tiny bumps on the sample reduce and lengthen the gap
    just slightly increasing or decreasing the level of current so the
    microscope can record the shape of the surface. With this, we can map DNA
    strands or even build new materials atom by atom.
  </p>

  <p>
    <b>Quantum Tunneling</b> is one of the weirdest and most useful features of quantum
    physics. It makes the sun shine and it lets us build incredibly powerful
    microscopes and electronics. It may even be the key to the fate of our
    universe, but it won't make you better at baseball.
  </p>
</details>
</div>
</body>
