<div class="container-fluid">
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/fff.png" height="630" class="d-block w-100" alt="Image 1">
    </div>
    <div class="carousel-item">
      <img src="../assets/ems.jpeg" height="630" class="d-block w-100" alt="Image 2">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><hr/>

     <h3>Newton's Laws of Motion</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/nfl.webp" class="card-img-top" alt="Image 1"
          height="295px">
          <div class="card-body">
            <h5 class="card-title">Inertia</h5>
            <p class="card-text">An object at rest remains at rest,
              and an object in motion remains in motion at constant speed
              and in a straight line unless acted on by an unbalanced force.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/nsl.jpg" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <h5 class="card-title">Force</h5>
            <p class="card-text">The acceleration of an object depends on the mass of the object and the amount of force applied.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/ntl.gif" class="card-img-top" alt="Image 3" height="317px">
          <div class="card-body">
            <h5 class="card-title">Action & Reaction</h5>
            <p class="card-text">Whenever one object exerts a force on a second object,
              the second object exerts an equal and opposite force on the first.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
